@media(max-width: 376px) {
    .main_container{
        margin: 43px 0;
        h1{
            font-size: 26px;
        }
        .container_cards {
            margin: 30px auto 0 auto;
        }
    }
}